@mixin styleLinks($color, $fs, $fw) {
    color: $color;
    font-size: $fs;
    font-weight: $fw;
    text-decoration: none;
}

@mixin transFormMiddle() {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin setUpCarouselArrow($url, $option) {
    background-image: url($url);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 50px;
    height: 100px;
    top: 45%;
    transform: translateY(-50%);

    @if($option==1) {
        left: 15px;
    }

    @else {
        right: 15px;
    }
}

@mixin bgFixed() {
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
    left: 0;

}

@mixin bgParallax() {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

@mixin responsive($screen) {
    @if map-has-key($map: $breakpoints, $key: $screen) {
        $value: map-get($map: $breakpoints, $key: $screen);

        @media screen and (max-width: $value) {
            @content;
        }
    }

    @else {
        @warn "screen not found";
    }
}

.abc {
    color: red;
}