* {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown-menu.show {
  right: 0;
}

.myCarousel .carousel .carousel-indicators {
  bottom: 12%;
}

.myCarousel .carousel .carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #7b7b7b;
  opacity: 1;
}

.myCarousel .carousel .carousel-indicators li.active {
  background-color: #d4dd29;
}

.movieBooklet .movieBooklet__content .myTabContent .owl-nav button {
  color: #666;
  font-size: 62px;
  position: absolute;
  top: 20%;
  outline: none;
}

.movieBooklet .movieBooklet__content .myTabContent .owl-nav button.owl-prev {
  left: -35px;
}

.movieBooklet .movieBooklet__content .myTabContent .owl-nav button.owl-next {
  right: -35px;
}

@media screen and (max-width: 580px) {
  .movieBooklet .movieBooklet__content .myTabContent .owl-nav {
    display: none;
  }
}

.navBarHeader {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}

.navBarHeader .navBarHeader__content .myNavbar {
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;
  top: 0;
  left: 0;
}

.navBarHeader .navBarHeader__content .myNavbar .expandBtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .navBarHeader .navBarHeader__content .myNavbar .expandBtn {
    display: block;
  }
}

.navBarHeader .navBarHeader__content .myNavbar .navbar-brand {
  width: 50px;
}

.navBarHeader .navBarHeader__content .myNavbar .navBarHeader__menu ul {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.navBarHeader .navBarHeader__content .myNavbar .navBarHeader__menu ul .nav-item {
  margin-right: 20px;
}

.navBarHeader .navBarHeader__content .myNavbar .navBarHeader__menu ul .nav-item .nav-link {
  color: #000;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navBarHeader .navBarHeader__content .myNavbar .navBarHeader__menu ul .nav-item .nav-link:hover {
  color: #fb4226;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .navBarHeader .navBarHeader__content .myNavbar .navBarHeader__menu ul {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .navBarHeader .navBarHeader__content .myNavbar .navBarHeader__menu {
    display: none;
  }
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight {
  position: absolute;
  right: 10px;
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight a {
  color: #9b9b9b;
  font-size: 13px;
  font-weight: normal;
  text-decoration: none;
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight a img {
  border-radius: 50%;
  width: 30px;
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight a p {
  display: inline;
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight a.navbar-login {
  margin-right: 20px;
  padding: 10px;
  border-right: 1px dotted #9b9b9b;
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight a.navbar-location {
  margin-right: 25px;
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight a.navbar-location img {
  width: 20px;
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight .dropdown-menu {
  left: unset;
  top: 45px;
  right: 0;
  height: 300px;
  overflow-y: auto;
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: black;
  text-transform: capitalize;
  padding: 3px 20px;
}

.navBarHeader .navBarHeader__content .myNavbar .navbarRight .dropdown-menu .dropdown-item:hover {
  background-color: #60c5ef;
  color: white;
}

@media screen and (max-width: 768px) {
  .navBarHeader .navBarHeader__content .myNavbar .navbarRight {
    display: none;
  }
}

.navBarHeader .navBarHeader__content .sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  right: -250px;
  /* top layer */
  z-index: 9999;
  padding: 20px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  background-color: white;
}

.navBarHeader .navBarHeader__content .sidebar a {
  text-decoration: none;
  color: black;
}

.navBarHeader .navBarHeader__content .sidebar .sidebar-header {
  position: relative;
}

.navBarHeader .navBarHeader__content .sidebar .sidebar-header .navbar-login img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.navBarHeader .navBarHeader__content .sidebar .sidebar-header .navbar-login p {
  display: inline;
}

.navBarHeader .navBarHeader__content .sidebar .sidebar-header .navbar-login .dismiss {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.navBarHeader .navBarHeader__content .sidebar ul li {
  padding: 10px;
}

.navBarHeader .navBarHeader__content .sidebar.active {
  right: 0;
}

.navBarHeader .navBarHeader__overlay {
  display: none;
  position: fixed;
  /* full screen */
  width: 100vw;
  height: 100vh;
  /* transparent black */
  background: rgba(0, 0, 0, 0.7);
  /* middle layer, i.e. appears below the sidebar */
  z-index: 998;
  opacity: 0;
  /* animate the transition */
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.navBarHeader .navBarHeader__overlay.active {
  display: block;
  opacity: 1;
}

.myCarousel {
  margin-top: 36px;
}

.myCarousel .carousel .carousel-inner .carousel-item:hover a button {
  opacity: 1;
}

.myCarousel .carousel .carousel-inner .carousel-item a button {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: none;
  border: none;
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.myCarousel .carousel .carousel-inner .carousel-item a button:focus {
  outline: none;
}

.myCarousel .carousel .carousel-inner .carousel-item a .carousel__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left bottom, left top, from(#000), color-stop(20%, transparent));
  background: linear-gradient(to top, #000, transparent 20%);
}

.myCarousel .carousel .carousel-control-prev {
  background-image: url("./../imgs/back-session.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 100px;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 15px;
  color: white;
}

.myCarousel .carousel .carousel-control-next {
  background-image: url("./../imgs/next-session.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 50px;
  height: 100px;
  top: 45%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  color: white;
}

.bookMovie {
  position: relative;
}

.bookMovie .bookMovie__content {
  width: 940px;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.bookMovie .bookMovie__content .row {
  width: 100%;
}

.bookMovie .bookMovie__content .row .dropdown {
  border-right: 1px solid rgba(238, 238, 238, 0.88);
  padding-right: 0;
  cursor: pointer;
}

.bookMovie .bookMovie__content .row .dropdown .dropdown-toggle::after {
  position: absolute;
  right: 5%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.bookMovie .bookMovie__content .row .dropdown .dropdown-menu {
  margin-top: 1.125rem;
  left: -10% !important;
}

.bookMovie .bookMovie__content .row .dropdown .dropdown-menu .dropdown-item {
  padding: .25rem .8rem;
}

.bookMovie .bookMovie__content .row .dropdown .bookBtn {
  color: white;
  text-transform: uppercase;
  padding: 12px 8px;
  background-color: #4a4a4a;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.bookMovie .bookMovie__content .row .dropdown .bookBtn:hover {
  color: red;
  background-color: black;
}

.bookMovie .bookMovie__content .row .dropdown:nth-child(1) .dropdown-menu {
  left: -5% !important;
}

@media screen and (max-width: 992px) {
  .bookMovie {
    display: none;
  }
}

.movieBooklet {
  padding: 100px 0px 50px;
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/movie-details-bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

.movieBooklet .movieBooklet__content .myMovieTab {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
  margin-bottom: 30px;
}

.movieBooklet .movieBooklet__content .myMovieTab .nav-item {
  border-bottom: 1px solid transparent;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  margin-bottom: 0px !important;
}

.movieBooklet .movieBooklet__content .myMovieTab .nav-item .nav-link {
  border: none;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}

.movieBooklet .movieBooklet__content .myMovieTab .nav-item .nav-link:hover, .movieBooklet .movieBooklet__content .myMovieTab .nav-item .nav-link:focus, .movieBooklet .movieBooklet__content .myMovieTab .nav-item .nav-link.active {
  color: #d4dd29;
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .movieBooklet .movieBooklet__content .myMovieTab .nav-item .nav-link {
    font-size: 15px;
  }
}

.movieBooklet .movieBooklet__content .myMovieTab .nav-item:hover {
  border-color: #d4dd29;
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook {
  position: relative;
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook .item {
  overflow: hidden;
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook .item .movieImg img {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook .item .movieImg img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook .item .movieName a {
  font-size: 18px;
  color: white;
  font-weight: 600;
  text-align: center;
  padding: 20px 0px;
  display: block;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook .item .movieName a:hover {
  color: yellow;
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook .item .buyTicket {
  height: 45px;
  background: green;
  color: white;
  text-align: center;
  line-height: 45px;
  font-size: 18px;
  text-transform: uppercase;
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook .item .buyTicket a i {
  margin-right: 5px;
  font-size: 15px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook .item .buyTicket:hover {
  background-color: white;
  color: green;
}

.movieBooklet .movieBooklet__content .myTabContent .movieBook .item .buyTicket:hover i {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.event {
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/bg-cinema-10.png");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  padding: 50px 0px 30px;
}

.event .event__content .event__list .event__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
  margin-bottom: 50px;
}

.event .event__content .event__list .event__header li a {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 28px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  letter-spacing: 1px;
}

.event .event__content .event__list .event__header li a.active {
  color: #d4dd29;
  font-size: 28px;
  font-weight: 600;
  text-decoration: none;
  border-bottom: 1px solid #d4dd29;
}

.event .event__content .event__list .event__header .line {
  width: 3px;
  height: 30px;
  background-color: white;
  margin: auto 10px;
}

.event .event__content .event__list .eventTabContent .event__item {
  margin-bottom: 20px;
}

.event .event__content .event__list .eventTabContent .event__item img {
  width: 100%;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.event .event__content .event__list .eventTabContent .event__item img:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.event .event__content .event__list .eventTabContent .event__item .even__item--info {
  padding: 30px 10px;
  background-color: #172029;
}

.event .event__content .event__list .eventTabContent .event__item .even__item--info a {
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  letter-spacing: 1px;
}

.event .event__content .event__list .eventTabContent .event__item .even__item--info a:hover {
  color: #d4dd29;
}

.event .event__content .event__list .eventTabContent .event__item .even__item--info .event__item--title {
  display: block;
  margin-bottom: 13px;
}

.event .event__content .event__list .eventTabContent .event__item .even__item--info .event__item--like {
  color: #8b9aaa;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
}

.event .event__content .event__list .eventTabContent .event__item .even__item--info .event__item--share {
  float: right;
  color: #8b9aaa;
  background-color: #3b5998;
  padding: 3px 5px;
  border-radius: 5px;
}

.event .event__content .event__list .eventTabContent .event__item .even__item--info .event__item--share:hover {
  color: black;
  background-color: #d4dd29;
}

.event .event__content .event__list .eventTabContent .event__item .even__item--info .clearfix {
  clear: both;
}

@media screen and (max-width: 768px) {
  .event .event__content .event__list .eventTabContent .event__item {
    width: 270px;
    margin: 20px auto;
  }
}

.footer {
  background-image: url("https://tix.vn/app/assets/img/icons/backapp.jpg");
  background-size: contain;
}

.footer .footer__content {
  padding: 100px 0px;
}

.footer .footer__content .footUpLeft {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__content .footUpLeft .footerTitle {
  color: white;
  font-size: 32px;
  font-weight: 700;
  text-decoration: none;
}

.footer .footer__content .footUpLeft .footerAdTitle {
  color: white;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  padding: 20px 0px;
}

.footer .footer__content .footUpLeft .btnAd {
  background-color: red;
  padding: 10px 20px;
  border-radius: 3px;
  border: 1px solid transparent;
  color: white;
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  width: 50%;
  outline: none;
}

@media screen and (max-width: 768px) {
  .footer .footer__content .footUpLeft .btnAd {
    margin: 0 auto;
  }
}

.footer .footer__content .footUpLeft .phoneVersion {
  margin-top: 20px;
  color: white;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
}

.footer .footer__content .footUpLeft .phoneVersion a {
  -webkit-text-decoration: white;
          text-decoration: white;
  color: white;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 768px) {
  .footer .footer__content .footUpLeft {
    text-align: center;
    margin-bottom: 40px;
  }
}

.footer .footer__content .footUpRight .footUpRight__content {
  position: relative;
}

.footer .footer__content .footUpRight .footUpRight__content .phoneImg {
  padding: 0 30.8%;
  max-width: 100%;
}

.footer .footer__content .footUpRight .footUpRight__content .footerCarousel {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 1.3% 31.9% 0% 31.8%;
}

.footer .footer__content .footUpRight .footUpRight__content .footerCarousel .owl-stage-outer {
  border-radius: 20px;
}

.coWorker {
  padding: 20px 0px 0px;
  background-image: url("https://www.bhdstar.vn/wp-content/themes/bhd/assets/images/bg-grid.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  background-size: auto;
  background-repeat: unset;
}

.coWorker .coWorker__content {
  width: 940px;
  margin: auto;
}

.coWorker .coWorker__content a {
  text-decoration: none;
  color: #949494;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  margin-bottom: 10px;
}

.coWorker .coWorker__content a img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
  margin-bottom: 15px;
  color: #949494;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
}

.coWorker .coWorker__content p {
  color: white;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  margin-bottom: 10px;
}

.coWorker .coWorker__content .coWorker__left a {
  display: block;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.coWorker .coWorker__content .coWorker__left a:hover {
  color: white;
}

.coWorker .coWorker__content .coWorker__middle .icon-selection img {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.coWorker .coWorker__content .coWorker__middle .icon-selection img:hover {
  opacity: 0.7;
}

.coWorker .coWorker__content .coWorker__right .col-md-6 {
  text-align: center;
  margin-bottom: 15px;
}

.coWorker .coWorker__content .coWorker__afterCredit {
  padding: 30px 0px 0px;
  border-top: 1px solid #949494;
}

.coWorker .coWorker__content .coWorker__afterCredit h4 {
  color: white;
  font-size: 12px;
  font-weight: 400;
  text-decoration: none;
}

.coWorker .coWorker__content .coWorker__afterCredit p {
  line-height: 20px;
  margin-bottom: 0;
}

.coWorker .coWorker__content .coWorker__afterCredit p a {
  color: red;
}

.coWorker .coWorker__content .coWorker__afterCredit .ziOnIcon {
  width: 80px;
  margin-bottom: 20px;
  border-radius: 10px;
}

.coWorker .coWorker__content .coWorker__afterCredit .vcdnIcon {
  width: 120px;
}

@media screen and (max-width: 1010px) {
  .coWorker .coWorker__content {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .coWorker .coWorker__content {
    text-align: center;
  }
}
/*# sourceMappingURL=main.css.map */