.bookMovie {
    position: relative;

    .bookMovie__content {
        width: 940px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        @include transFormMiddle();
        background-color: white;
        border-radius: 5px;
        box-shadow: 0 0 10px rgba(0, 0, 0, .3);

        .row {
            width: 100%;

            .dropdown {
                border-right: 1px solid rgba(238, 238, 238, .88);
                padding-right: 0;
                cursor: pointer;

                .dropdown-toggle {
                    &::after {
                        position: absolute;
                        right: 5%;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }

                .dropdown-menu {
                    margin-top: 1.125rem;
                    left: -10% !important;

                    .dropdown-item {
                        padding: .25rem .8rem;
                    }
                }

                .bookBtn {
                    color: white;
                    text-transform: uppercase;
                    padding: 12px 8px;
                    background-color: #4a4a4a;
                    border-radius: 4px;
                    cursor: pointer;
                    transition: all 0.5s;

                    &:hover {
                        color: red;
                        background-color: black;
                    }
                }

                &:nth-child(1) {
                    .dropdown-menu {
                        left: -5% !important;
                    }
                }
            }
        }
    }

    @include responsive("large") {
        display: none;
    }
}