.myCarousel {
    margin-top: 60px;

    .carousel {
        .carousel-indicators {
            li {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background-color: #d8d8d8;
                opacity: 1;

                &.active {
                    background-color: #fb4226;
                }
            }
        }

        .carousel-inner {
            .carousel-item {
                &:hover {
                    a {
                        button {
                            opacity: 1;
                        }
                    }
                }

                a {
                    button {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        background: none;
                        border: none;
                        opacity: 0;
                        transition: all 0.3s;

                        &:focus {
                            outline: none;
                        }
                    }
                }
            }
        }

        .carousel-control-prev {
            @include setUpCarouselArrow("./../imgs/back-session.png", 1);

        }

        .carousel-control-next {
            @include setUpCarouselArrow("./../imgs/next-session.png", 2);
        }
    }
}