.myCarousel {
    margin-top: 36px;

    .carousel {
        .carousel-inner {
            .carousel-item {
                &:hover {
                    a {
                        button {
                            opacity: 1;
                        }
                    }
                }

                a {
                    button {
                        position: absolute;
                        @include transFormMiddle();
                        background: none;
                        border: none;
                        opacity: 0;
                        transition: all 0.3s;

                        &:focus {
                            outline: none;
                        }
                    }

                    .carousel__overlay {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        left: 0;
                        top: 0;
                        background: linear-gradient(to top, #000, transparent 20%);
                    }
                }
            }
        }

        .carousel-control-prev {
            @include setUpCarouselArrow("./../imgs/back-session.png", 1);
            color: white;
        }

        .carousel-control-next {
            @include setUpCarouselArrow("./../imgs/next-session.png", 2);
            color: white;
        }
    }
}